@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.content {
  margin: auto;
  width: 600px;
  text-align: center;
}

.fullCard {
  padding-top: 40px;
  padding-bottom: 40px;
}

.corpse {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 15px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
 
}

.photoPromo {
  position: relative;
  height: 230px;
  /* width: 150px; */
  margin-bottom: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.back {
    background-color: transparent;
}

/* .clash-card__image--barbarian {
  background: url();
  
    width: 400px;
    position: absolute;    
    top: -65px;
    left: -70px;
  } */

.bas_de_Carte {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  /* margin-bottom: 3px; */
  columns: 2;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border : solid thin black; */
  
}
.skill {
    padding: 5px;
    border-collapse:collapse;
    border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border : solid thin black;

}

.clash-card__level--barbarian {
  color: #f76c6c;
}

.name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.description {
  padding: 20px;
  margin-bottom: 10px;  
}

.bas_de_Carte {
  background: #f76c6c;
  /* border-top-left-radius: 15px;
  border-bottom-right-radius: 15px; */
}

.bas_de_Carte {
  
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
