* {
    margin: 0;
    padding: 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

  header {
    border-bottom: 2px solid black;
    background-color: hsl(0, 90%, 69%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  .logopromo {
      width: 125px;
      height: 125px;
  }
  h1 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  section {
      padding: 1rem;
      border-bottom: 2px solid black;
      font-family: 'Montserrat', sans-serif;
      background-color: hsl(0, 75%, 69%);
      color: white;
  }
  .PresentationSession {
      margin-top: 1rem;
      font-family: 'Montserrat', sans-serif;
  }
  .modal-trigger {
    cursor: pointer;
    display: inline-block;
  }
  
  .modal[open] > .modal-trigger::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    cursor: default;
    content: '';
    z-index: 99;
    background: rgba(27,31,35,0.5);
  }
  
  .modal-content {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 4em;
    animation-name: fadein;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    background-color: white;
    padding: 1rem;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  .modal-trigger::-webkit-details-marker {
    display:none;
  }
  .photoclasse {
      width: 528px;
      height: 362px;
  }
  